<!-- div.container.pages.pb-5 -->
<div class="container text-justify pages pb-5">
  <h2 class="mb-4 mt-3">About</h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit expedita, fuga praesentium ea libero? Illo
  atque facilis fuga esse sunt reprehenderit nam quaerat ipsum quisquam, natus distinctio nulla doloribus?
</div>