<div class="main-view">
  <header class="header">
    <app-hearder></app-hearder>
  </header>
  <section>
    <router-outlet></router-outlet>
    <!-- <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact> -->
  </section>
</div>
<footer>
  <app-footer></app-footer>
</footer>