
@import url('https://fonts.googleapis.com/css?family=Niramit:400,500,500i,700');
.pages{
    padding-top: 54px;
}

app-root{
    font-family: Niramit;
}
h1{
    font-weight: 500;
    font-style: italic;
}